#walrus-showing {
  display: none;
}
#penguin-showing {
  display: none;
}
.click-walrus {
  cursor: pointer;
  color: #0088cc;
}

.click-walrus:hover {
  text-decoration: underline;
}

.click-penguin:hover {
  text-decoration: underline;
}
.click-penguin {
  cursor: pointer;
  color: #0088cc;
}
